@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
/* CSS Document */
body			{ font-family: 'Lato', sans-serif;}
h1				{ font-size:45px; border-bottom:2px solid #3ab54a; padding-bottom:15px; }
.navbar-inverse	{ background-color:#fff}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{ background-color:#F2F2F2;-webkit-box-shadow: 0px 3px 5px 0px rgba(220,220,220,1);
-moz-box-shadow: 0px 3px 5px 0px rgba(220,220,220,1);
box-shadow: 0px 3px 5px 0px rgba(220,220,220,1);}
.navbar-inverse .navbar-nav>li>a{ color:#3ab54a; font-size:1.3em; font-weight:300; text-transform:uppercase}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{background-color:#3ab54a; color:#fff}
.navbar-inverse .input-group{ margin-top:15px}
.LogIn { float:right; padding-right:15px; margin-top:15px}
.navbar-brand{ margin-right:15px}
h1, h3 			{ color:#0091ab; font-weight:300}
h2, h4				{color:#0091ab; font-weight:400}
h5 { font-weight:400}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{background-color:#3ab54a}
.btn, .form-control		{ border-radius:0px}
.uppText {
    text-transform:none;
}
.uppText a, .uppText span	{color: #888}
.activitiesBox	{ max-height:400px; overflow-y:scroll}

/*ICON TOOGLE*/
.navbar-inverse .navbar-toggle{background-color:#3ab54a; border-radius:0px; border:0px; padding:13px 10px}
.navbar-inverse .navbar-toggle .icon-bar{ }


/*LISTADO PROYECTOS*/
.opcionesList	{ }
.opcionesList a	{ display:inline-block; text-align:center; color:#3ab54a; padding:0px 7px; text-transform:uppercase}
.opcionesList span{ display:block; font-size:11px}
.opcionesList span.glyphicon{ font-size:25px; clear:right; display:block}
.list-group-item{ overflow:hidden}
.list-group-item:hover{ background-color:#f4f4f4}
.etiqueta { background-color:#f4f4f4}
.label-info		{ color:#fff!important; margin-right:10px}


/*PROFILE PROJECT*/
.comboProject	{ margin:15px 0px}
.comboProject span.glyphicon{ font-size:18px;}
.leftMenu .nav-tabs>li	{ text-transform:uppercase;}
.leftMenu .nav-tabs>li>a{ font-size:0.9em; padding:10px}
.leftMenu .nav-tabs span.glyphicon{ float: right}
.leftMenu .nav-tabs>li.active>a	{ background-color:#777; color:#fff; border-radius:0}
.leftMenu .nav-tabs>li.active>a, .leftMenu .nav-tabs>li.active>a:focus, .leftMenu .nav-tabs>li.active>a:hover{ border:none;}
.cronoItem		{ background:url(../Content/img/bg_itemCronoProject_blue.png) no-repeat top left; padding-left:35px; padding-bottom:25px}
.cronoEjecutado .cronoItem		{ background: url(../Content/img/bg_itemCronoProject_green.png) no-repeat top left;}
.panel .nav-tabs	{ border:none}
.headSection		{overflow:hidden; border-top:3px solid #0077a2; margin-bottom:15px }
.headSection h3		{ text-transform:uppercase}
.headTit			{border-bottom:1px solid #0077a2; padding-top:10px;  padding-bottom:10px}
.generalInfo h2		{ margin-top:0px}
.generalInfo h4		{ border-left:5px solid #1D76BA; background-color:#FAFAF5; padding:5px 5px 5px 10px; font-size:26px}
.generalInfo .card-block span.glyphicon-save-file{ font-size:45px}
.userActions		{ margin-top:25px}
.userActions .btn	{ margin:10px 0px; width:170px}
.detailInfo			{ border-top:1px solid #f2f2f2; padding:5px 0px; border-bottom:1px solid #f2f2f2;}
.leftMenu			{ border:3px solid #F2F2F2; padding:0px }
.newInfoForm .logForm{ background-color:#F2F2F2; border-top:2px solid #00B5C6}
.mediaItem img		{ max-width:120px;}
.carousel-control	{ background:transparent; bottom:150px; height:45px; top:auto}
.carousel			{ position:relative; margin:15px 0px}
/*ARBOL GESTION*/leftmenu
#ff {display:block; margin-left:47px}

/*REGISTRO*/
.formSteps			{ width:100%; clear:both; display:block; overflow:hidden; background:url(../Content/img/bg_HorizontalLine.gif) repeat-x 50% 50%; margin:25px 0px }
.step				{ background-color:#fff; width:80px; padding:10px; border:2px solid #25A8DE; height:80px; border-radius:40px; text-align:center; float:left; margin:5px 15px; color:#CECEBF}
.formSteps .step:first-child{ margin-left:80px}
.step span			{ display:block; font-size:30px; margin-top:0px; }
.currentStep		{ background-color:#25A8DE; color:#fff}
.completed			{ color:#25A8DE}
.w60				{ width:60%}
.w70				{ width:70%; margin:0 auto}
.fr					{ float:right}
/*.botonera			{ padding:25px 0px; border-top:1px solid #f3f3f3; margin-top:25px}*/
.botonera			{ padding:10px 0px; border-top:1px solid #f3f3f3; margin-top:10px}
div.btn-primary	a	{ color:#fff}
.txtTerms			{ height:300px; overflow-y:scroll; margin-bottom:25px}
.form-check			{ margin:15px 0px}
.organizaciones		{ max-height:200px; overflow-y:scroll;}
.logHiddenForm		{ width:250px; position:absolute; z-index:1000; right:0px; top:50px}
.logForm			{ background-color:#3ab54a; padding:15px}
.logForm a			{ color:#fff}
.logForm .small		{ text-transform:uppercase}
.btn-primary		{ border:none}
.btn-info a			{ color:#fff}
.regMultimedia img{ max-width:100%}
.mtB15				{ margin-bottom:15px }
/*.required label:after {  content:"*";  color:red; font-size:20px}*/
label.required:after, h4.required:after {  content:"*";  color:red; font-size:20px}
.gestionIc			{ width:20px; height:20px; float: left; border: 2px solid #3ab54a;  border-radius:50%; margin-right:20px; margin-left:6px; background-color:#fff}	
.gestionIc img		{ width:25px; border-radius:50%; margin-left:0px; margin-top:6px; text-align:center}
.itemGAC			{ margin:5px 0px; padding:10px 0px; text-transform:uppercase; overflow:hidden }
.itemGAC:hover		{ background-color:#fff; border:1px solid #26A7E0}
.convenciones		{ overflow:hidden; border-color:#f2f2f2; background:none}
.convenciones .gestionIc	{ margin-bottom:15px}

.opcional .gestionIc, .realizada .gestionIc, .pendiente .gestionIc, .deshabilitada .gestionIc{ width:40px; height:40px; float:left;  border-radius:50%; text-align:center; margin-left:-3px; margin-right:10px}
.opcional .gestionIc		{ background-color:#B0E0B8; border-color:#B0E0B8!important;  }
.realizada .gestionIc		{ background-color:#3ab54a; border-color:#3ab54a!important;  }
.pendiente .gestionIc		{ background-color:#26A7E0; border-color:#26A7E0!important; }
.deshabilitada .gestionIc		{ background-color:#92D3EF; border-color:#92D3EF!important;  }
/*TEXT*/
.deshabilitada span				{color:#92D3EF}
.opcional span					{color:#B0E0B8}
.realizada span					{color:#3ab54a}
.pendiente span					{color:#26A7E0}

.campoOblig { background-color: #FFCECE !important; color: #0E0E0E !important;}

/*BOTONES
.deshabilitada .btn {border-color:#92D3EF }
.opcional .btn		{border-color:#B0E0B8}
.realizada	.btn	{border-color:#3ab54a}
.pendiente	.btn	{border-color:#26A7E0}
.deshabilitada	.btn {border-color:#92D3EF }*/




.card h5			{ font-size:18px; padding:10px 0px; text-transform:uppercase; border:1px solid #DFDFD0; text-align:center}
.plantillasHeader { padding-top:10px; }
.plantillasHeader h5		{ font-size:18px; background-color:#DFDFD0; padding:10px 0px; text-transform:uppercase; border:1px solid #DFDFD0}
.card h5 a			{ display:block; color:#fff}
.plantillasHeader h5 a	{ display:block; color:#0091ab}
.auditoresList		{}
.auditoresList .well{ background-color:transparent}
.auditoresList .card-title a{ float: right; margin:0px 5px}
.buttonsHelp .btn	{ margin:15px 0px; width:100%}
.hitosBox			{ background:url(../Content/img/bg_VerticalLine.jpg) repeat-y 45px 0px}

/*EVALUACION DE EXPERIENCIA*/
.singleChoise .btn-group	{ width:100%}
.singleChoise .btn			{ width:20%}
.singleChoise textarea		{ margin:15px 0px}
.encuestaView .card			{ border: 1px solid #ccc; margin:15px 0px}
.encuestaView .card-block	{ padding:1.5rem}
.encuestaView .botonera		{ background-color:#f2f2f2}
.encuestaView .card input	{ padding-left:0px}
.encuestaView .card-block .explica {
margin-bottom: 8px;
}


<!--GENERADOR DE ENCUESTAS-->
.genType label input[type="text"]{ width:90%}
.mb15 { margin-bottom:15px}
.sepH { border-bottom:1px solid #f3f3f3; margin-bottom:0px}

/*FOOTER*/
footer{ padding:15px 0px; margin-top:15px; background-color:#3ab54a; color:#fff; text-align:center; }

.hideObj {display:none;}
.showObj {display:inline-block;}
.btnActions		{ margin-top:10px}
.bpinTexto { font-size:14px; }
.XLtext { font-size:25px; float:left; margin-right:15px}
.correoUsuario {
   text-decoration:none; 
}
.botonGestion {padding-bottom:5px;}
.recuadroRedes {
    width:inherit;
    height:inherit;
    float:right;
}
.textoBuscador {
   font-family: 'Lato', sans-serif;
}
/*SEMAFORO*/
.red	{ background-color: #F00;color:#fff;}
.blue	{background-color:#03C;color:#fff;}
.orange	{ background-color:#F90;color:#fff;}
.green	{ background-color:#6C0;color:#fff;}
.gris	{ background-color: #CCC; color:#fff;}
.uppText .red { background-color: #F00;color:#fff;}
.uppText .blue	{background-color:#03C;color:#fff;}
.uppText .orange	{ background-color:#F90;color:#fff;}
.uppText .green	{ background-color:#6C0;color:#fff;}
.uppText .gris	{ background-color: #CCC; color:#fff;}

/*paginacion*/
.pagination .pag_actual {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}

/*==========================================================================================*/
/*NEW STYLES AND CLASES*/
.entidades{ background-color:#f9f9f9; text-align:center; padding:15px; margin-top:25px}
.entidades a{ display:inline-block; margin:0px 5px }
.entidades a img{ height:40px}
.headBar{ padding:0.4em 0}

/*CHAT*/
.chatBox { overflow:hidden; border:2px solid #ccc; padding:15px; max-height:500px; overflow-y:scroll}
.dirLrtl { /*direction:rtl;*/ float:right; text-align:right}
.msgContainer{ width:95%; overflow:hidden; margin:5px 0px 10px 0px; border:1px solid #ccc; }
.usermsg, .usermsg .media-right { border:1px solid #0091ab;}
.usermsg .media-right{ background:#0091ab}
.media-left{ background:#ccc}
.media-left , .media-right{ padding:10px}
.media-left a{ color:#000}
.media-right a{ color:#fff}
.msgContainer .media-body{ padding:5px}
.userWritting{ border:1px solid #ccc; padding:5px}
.sendBox{ overflow:hidden}
.sendBox .form-control, .searchBox .form-control{ width:100%}
.media-body small{ color: #999}

/*AUTOCOMPLETE*/
.twitter-typeahead{
width:100%;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}
.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
  width:100%;        
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

/*---------TERMINOS Y CONDICIONES--------*/
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*---------------------------*/

/*FOROS*/
.simple-label {
    color: #999;
    border-right: 1px solid #ccc
}

.answerBox {
    ;
    padding: 15px 0px;
    margin-bottom: 10px;
    background-color: #F7F7F7;
    overflow: hidden
}

.questionsBox {
    margin-bottom: 25px;
    border: 1px solid #0091ab;
    padding-bottom: 15px
}

.btn-response {
    border: 1px solid #0091ab;
    padding: 5px;
}

.optionsBtn {
    margin-bottom: 15px
}

.imgUser {
    margin: 15px auto;
    width: 50px;
    border: 1px solid #ccc
}

.titQuestion {
    margin-top: 0px
}

.comentBox {
    padding: 25px;
    border: 1px solid #0091ab;
    margin: 15px 0px
}

.btnBack {
    display: block;
    width: 100%;
    margin: 10px 0px
}

.questionsBox mark {
    background-color: yellow !important;
}

/*CAPACITACIONES*/
.panel-capacitacion {
    border: 1px solid #f3f3f3;
    border-left: 3px solid #3ab54a;
    padding:10px;
}
.panel-capacitacion .panel-heading { color: #3ab54a; font-weight:bold; font-size:18px; padding-bottom:0px}
.panel-capacitacion:hover{ background-color:#f9f9f9}
.panel-capacitacion .panel-heading .btn-link{ border:1px solid #3ab54a}
.panel-capacitacion a:first-child{    border-top-left-radius: 8px; border-bottom-left-radius: 8px}
.panel-capacitacion a:last-child{    border-top-right-radius: 8px; border-bottom-right-radius: 8px}
.panel-capacitacion .panel-body p{ padding-left:15px}
.m25{ margin:25px}
.m25tb{ margin:25px 0px}
.mt20{ margin-top:20px}
.bt1{ border-top:1px solid #f3f3f3}
.resultado_eval	{ font-size:30px; border-bottom:2px solid #3ab54a; padding-bottom:15px; }

/*NOTICIAS*/
.noticiasBox{}
.noticiasBox .panel-heading { color:#3ab54a; background:none; font-size:16px; border-bottom:2px solid #3ab54a}
.noticiasBox .panel-default:hover { border:1px solid #3ab54a}
.noticiasBox .btn-group span.glyphicon{ color:#3ab54a}

/*NOTIFICACIONES*/

.panel-notificacion{ border: 1px solid #f3f3f3}
.panel-notificacion:hover{ background-color:#f3f3f3}
.panel-notificacion .label { margin-right:15px}
.MH300{ min-height:300px}

/*RECONOCER EXPERIENCIA*/
.xl_icon{font-size: 30px}
.indCircle{ height: 10px; width: 10px; display: inline-block; margin-right: 10px; border-radius: 5px; vertical-align: middle; border: 1px solid #0091ab}
.filledCircle{background-color: #0091ab}

/*RANKING*/
.numbList{ text-align: center; color: #3ab54a}
.borderNumber{border:1px solid #0091ab; color: #0091ab; text-align: center; height: 25px; padding: 5px; font-size: 11px}

/*AUDITOR PROFILE*/
.H{ margin: 0px; padding: 0px}
.H li{ list-style: none; float: left; padding: 5px 15px}
.H li:first-child{ padding-left: 0px}
.userSection{margin: 15px 0px}
.blueBg{background-color: #0091ab; color: #fff }
.seenNews{ background-color: #93D3EE;}
.newsProfile{ border: 1px solid #0091ab; margin-bottom: 5px; padding: 0px}
.newsProfile div{padding: 5px}

/*CALENDAR*/

#wrap {
		width: 100%;
		margin: 0 auto;
		}
		
	#external-events {
		float: left;
		width: 150px;
		padding: 0 10px;
		text-align: left;
		}
		
	#external-events h4 {
		font-size: 16px;
		margin-top: 0;
		padding-top: 1em;
		}
		
	.external-event { /* try to mimick the look of a real event */
		margin: 10px 0;
		padding: 2px 4px;
		background: #3366CC;
		color: #fff;
		font-size: .85em;
		cursor: pointer;
		}
		
	#external-events p {
		margin: 1.5em 0;
		font-size: 11px;
		color: #666;
		}
		
	#external-events p input {
		margin: 0;
		vertical-align: middle;
		}

	#calendar {
/* 		float: right; */
        margin: 0 auto;
		width: 100%;
		background-color: #FFFFFF;
		  border-radius: 6px;
        box-shadow: 0 1px 2px #26A7E0;
		}

.fc {
	direction: ltr;
	text-align: left;
	}
	
.fc table {
	border-collapse: collapse;
	border-spacing: 0;
	}
	
html .fc,
.fc table {
	font-size: 1em;
	

	}
	
.fc td,
.fc th {
	padding: 0;
	vertical-align: top;
	}



/* Header
------------------------------------------------------------------------*/

.fc-header td {
	white-space: nowrap;
	padding: 15px 10px 0px;
}

.fc-header-left {
	width: 25%;
	text-align: left;
}
	
.fc-header-center {
	text-align: center;
	}
	
.fc-header-right {
	width: 25%;
	text-align: right;
	}
	
.fc-header-title {
	display: inline-block;
	vertical-align: top;
	margin-top: -5px;
}
	
.fc-header-title h2 {
	margin-top: 0;
	white-space: nowrap;
	font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
	clear: both;
}
	
.fc .fc-header-space {
	padding-left: 10px;
	}
	
.fc-header .fc-button {
	margin-bottom: 1em;
	vertical-align: top;
	}
	
/* buttons edges butting together */

.fc-header .fc-button {
	margin-right: -1px;
	}
	
.fc-header .fc-corner-right,  /* non-theme */
.fc-header .ui-corner-right { /* theme */
	margin-right: 0; /* back to normal */
	}
	
/* button layering (for border precedence) */
	
.fc-header .fc-state-hover,
.fc-header .ui-state-hover {
	z-index: 2;
	}
	
.fc-header .fc-state-down {
	z-index: 3;
	}

.fc-header .fc-state-active,
.fc-header .ui-state-active {
	z-index: 4;
	}
	
	
	
/* Content
------------------------------------------------------------------------*/
	
.fc-content {
	clear: both;
	zoom: 1; /* for IE7, gives accurate coordinates for [un]freezeContentHeight */
	}
	
.fc-view {
	width: 100%;
	overflow: hidden;
	}
	
	

/* Cell Styles
------------------------------------------------------------------------*/

    /* <th>, usually */
.fc-widget-content {  /* <td>, usually */
	border: 1px solid #26A7E0;
	}
.fc-widget-header{
    border-bottom: 1px solid #EEE; 
}	
.fc-state-highlight { /* <td> today cell */ /* TODO: add .fc-today to <th> */
	/* background: #fcf8e3; */
}

.fc-state-highlight > div > div.fc-day-number{
    background-color: #26A7E0;
    color: #FFFFFF!important;
    margin: 4px;
}
	
.fc-cell-overlay { /* semi-transparent rectangle while dragging */
	background: #bce8f1;
	opacity: .3;
	filter: alpha(opacity=30); /* for IE */
	}
	


/* Buttons
------------------------------------------------------------------------*/

.fc-button {
	position: relative;
	display: inline-block;
	padding: 0 .6em;
	overflow: hidden;
	height: 1.9em;
	line-height: 1.9em;
	white-space: nowrap;
	cursor: pointer;
	}
	
.fc-state-default { /* non-theme */
	border: 1px solid;
	}

.fc-state-default.fc-corner-left { /* non-theme */
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	}

.fc-state-default.fc-corner-right { /* non-theme */
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	}

/*
	Our default prev/next buttons use HTML entities like &lsaquo; &rsaquo; &laquo; &raquo;
	and we'll try to make them look good cross-browser.
*/

.fc-text-arrow {
	margin: 0 .4em;
	font-size: 2em;
	line-height: 23px;
	vertical-align: baseline; /* for IE7 */
	}

.fc-button-prev .fc-text-arrow,
.fc-button-next .fc-text-arrow { /* for &lsaquo; &rsaquo; */
	font-weight: bold;
	}
	
/* icon (for jquery ui) */
	
.fc-button .fc-icon-wrap {
	position: relative;
	float: left;
	top: 50%;
	}
	
.fc-button .ui-icon {
	position: relative;
	float: left;
	margin-top: -50%;
	*margin-top: 0;
	*top: -50%;
	}


.fc-state-default {
	border-color: #26A7E0;
	color: #26A7E0;	
}
.fc-button-month.fc-state-default, .fc-button-agendaWeek.fc-state-default, .fc-button-agendaDay.fc-state-default{
    min-width: 67px;
	text-align: center;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
}
.fc-state-hover,
.fc-state-down,
.fc-state-active,
.fc-state-disabled {
	color: #333333;
	background-color: #EEEEEE;
	}

.fc-state-hover {
	color: #26A7E0;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	   -moz-transition: background-position 0.1s linear;
	     -o-transition: background-position 0.1s linear;
	        transition: background-position 0.1s linear;
	}

.fc-state-down,
.fc-state-active {
	background-color: #26A7E0;
	background-image: none;
	outline: 0;
	color: #FFFFFF;
}

.fc-state-disabled {
	cursor: default;
	background-image: none;
	background-color: #EEEEEE;
	filter: alpha(opacity=65);
	box-shadow: none;
	border:1px solid #EEEEEE;
	color: #26A7E0;
	}

	

/* Global Event Styles
------------------------------------------------------------------------*/

.fc-event-container > * {
	z-index: 8;
	}

.fc-event-container > .ui-draggable-dragging,
.fc-event-container > .ui-resizable-resizing {
	z-index: 9;
	}
	 
.fc-event {
	border: 1px solid #FFF; /* default BORDER color */
	background-color: #FFF; /* default BACKGROUND color */
	color: #919191;               /* default TEXT color */
	font-size: 12px;
	cursor: default;
}
.fc-event.vencido{
    background-color: #F00; /*red*/
    color:#FFF;
}
.fc-event.finalizado{
    background-color: #03C;/*blue*/
    color:#FFF;
}
.fc-event.porvencer{
    background-color: #F90;/*orange*/
    color:#FFF;
}
.fc-event.atiempo{
    background-color: #6C0;/*green*/
    color:#FFF;
}
.fc-event.bien{
    background-color: #CCC;/*gris*/
    color:#919191;
}

.fc-event:hover{
    opacity: 0.7;
}
a.fc-event {
	text-decoration: none;
	}
	
a.fc-event,
.fc-event-draggable {
	cursor: pointer;
	}
	
.fc-rtl .fc-event {
	text-align: right;
	}

.fc-event-inner {
	width: 100%;
	height: 100%;
	overflow: hidden;
	line-height: 15px;
	}
	
.fc-event-time,
.fc-event-title {
	padding: 0 1px;
	}
	
.fc .ui-resizable-handle {
	display: block;
	position: absolute;
	z-index: 99999;
	overflow: hidden; /* hacky spaces (IE6/7) */
	font-size: 300%;  /* */
	line-height: 50%; /* */
	}
	
	
	
/* Horizontal Events
------------------------------------------------------------------------*/

.fc-event-hori {
	border-width: 1px 0;
	margin-bottom: 1px;
	}

.fc-ltr .fc-event-hori.fc-event-start,
.fc-rtl .fc-event-hori.fc-event-end {
	border-left-width: 1px;
	/*
border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
*/
	}

.fc-ltr .fc-event-hori.fc-event-end,
.fc-rtl .fc-event-hori.fc-event-start {
	border-right-width: 1px;
	/*
border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
*/
	}
	
/* resizable */
	
.fc-event-hori .ui-resizable-e {
	top: 0           !important; /* importants override pre jquery ui 1.7 styles */
	right: -3px      !important;
	width: 7px       !important;
	height: 100%     !important;
	cursor: e-resize;
	}
	
.fc-event-hori .ui-resizable-w {
	top: 0           !important;
	left: -3px       !important;
	width: 7px       !important;
	height: 100%     !important;
	cursor: w-resize;
	}
	
.fc-event-hori .ui-resizable-handle {
	_padding-bottom: 14px; /* IE6 had 0 height */
	}
	
	
	
/* Reusable Separate-border Table
------------------------------------------------------------*/

table.fc-border-separate {
	border-collapse: separate;
	}
	
.fc-border-separate th,
.fc-border-separate td {
	border-width: 1px 0 0 1px;
	}
	
.fc-border-separate th.fc-last,
.fc-border-separate td.fc-last {
	border-right-width: 1px;
	}
	

.fc-border-separate tr.fc-last td {
	
}
.fc-border-separate .fc-week .fc-first{
    border-left: 0;
}
.fc-border-separate .fc-week .fc-last{
    border-right: 0;
}
.fc-border-separate tr.fc-last th{
    border-bottom-width: 1px;
    border-color: #26A7E0;
    font-size: 16px;
    font-weight: 300;
	line-height: 30px;
}
.fc-border-separate tbody tr.fc-first td,
.fc-border-separate tbody tr.fc-first th {
	border-top-width: 0;
	}
	
	

/* Month View, Basic Week View, Basic Day View
------------------------------------------------------------------------*/

.fc-grid th {
	text-align: center;
	}

.fc .fc-week-number {
	width: 22px;
	text-align: center;
	}

.fc .fc-week-number div {
	padding: 0 2px;
	}
	
.fc-grid .fc-day-number {
	float: right;
	padding: 0 2px;
	}
	
.fc-grid .fc-other-month .fc-day-number {
	color:#333!important;
	opacity: 0.4;
	filter: alpha(opacity=40); /* for IE */
	/* opacity with small font can sometimes look too faded
	   might want to set the 'color' property instead
	   making day-numbers bold also fixes the problem */
	}
	
.fc-grid .fc-day-content {
	clear: both;
	padding: 2px 2px 1px; /* distance between events and day edges */
	}
	
/* event styles */
	
.fc-grid .fc-event-time {
	font-weight: bold;
	}
	
/* right-to-left */
	
.fc-rtl .fc-grid .fc-day-number {
	float: left;
	}
	
.fc-rtl .fc-grid .fc-event-time {
	float: right;
	}
	
	

/* Agenda Week View, Agenda Day View
------------------------------------------------------------------------*/

.fc-agenda table {
	border-collapse: separate;
	}
	
.fc-agenda-days th {
	text-align: center;
	}
	
.fc-agenda .fc-agenda-axis {
	width: 50px;
	padding: 0 4px;
	vertical-align: middle;
	text-align: right;
	white-space: nowrap;
	font-weight: normal;
	}

.fc-agenda .fc-week-number {
	font-weight: bold;
	}
	
.fc-agenda .fc-day-content {
	padding: 2px 2px 1px;
	}
	
/* make axis border take precedence */
	
.fc-agenda-days .fc-agenda-axis {
	border-right-width: 1px;
	}
	
.fc-agenda-days .fc-col0 {
	border-left-width: 0;
	}
	
/* all-day area */
	
.fc-agenda-allday th {
	border-width: 0 1px;
	}
	
.fc-agenda-allday .fc-day-content {
	min-height: 34px; /* TODO: doesnt work well in quirksmode */
	_height: 34px;
	}
	
/* divider (between all-day and slots) */
	
.fc-agenda-divider-inner {
	height: 2px;
	overflow: hidden;
	}
	
.fc-widget-header .fc-agenda-divider-inner {
	background: #eee;
	}
	
/* slot rows */
	
.fc-agenda-slots th {
	border-width: 1px 1px 0;
	}
	
.fc-agenda-slots td {
	border-width: 1px 0 0;
	background: none;
	}
	
.fc-agenda-slots td div {
	height: 20px;
	}
	
.fc-agenda-slots tr.fc-slot0 th,
.fc-agenda-slots tr.fc-slot0 td {
	border-top-width: 0;
	}
	
.fc-agenda-slots tr.fc-minor th.ui-widget-header {
	*border-top-style: solid; /* doesn't work with background in IE6/7 */
	}
	


/* Vertical Events
------------------------------------------------------------------------*/

.fc-event-vert {
	border-width: 0 1px;
	}

.fc-event-vert.fc-event-start {
	border-top-width: 1px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	}

.fc-event-vert.fc-event-end {
	border-bottom-width: 1px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	}
	
.fc-event-vert .fc-event-time {
	white-space: nowrap;
	font-size: 10px;
	}

.fc-event-vert .fc-event-inner {
	position: relative;
	z-index: 2;
	}
	
.fc-event-vert .fc-event-bg { /* makes the event lighter w/ a semi-transparent overlay  */
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: .25;
	filter: alpha(opacity=25);
	}
	
.fc .ui-draggable-dragging .fc-event-bg, /* TODO: something nicer like .fc-opacity */
.fc-select-helper .fc-event-bg {
	display: none\9; /* for IE6/7/8. nested opacity filters while dragging don't work */
	}
	
/* resizable */
	
.fc-event-vert .ui-resizable-s {
	bottom: 0        !important; /* importants override pre jquery ui 1.7 styles */
	width: 100%      !important;
	height: 8px      !important;
	overflow: hidden !important;
	line-height: 8px !important;
	font-size: 11px  !important;
	font-family: monospace;
	text-align: center;
	cursor: s-resize;
	}
	
.fc-agenda .ui-resizable-resizing { /* TODO: better selector */
	_overflow: hidden;
	}
	
thead tr.fc-first{
    background-color: #f7f7f7;
}
table.fc-header{
    background-color: #FFFFFF;
    border-radius: 6px 6px 0 0;
}

.fc-week .fc-day > div .fc-day-number{
    font-size: 15px;
    margin: 2px;
    min-width: 19px;
    padding: 6px;
    text-align: center;
	color: #26A7E0;
	font-weight: 700;
}
.fc-sun, .fc-sat{
    color: #b8b8b8;
}

.fc-week .fc-day:hover .fc-day-number{
    background-color: #B8B8B8;
    
    color: #FFFFFF;
    transition: background-color 0.2s;
}
.fc-week .fc-day.fc-state-highlight:hover .fc-day-number{
    background-color:  #26A7E0;
}
.fc-button-today{
    border: 1px solid rgba(255,255,255,.0);
}
.fc-view-agendaDay thead tr.fc-first .fc-widget-header{
    text-align: right;
    padding-right: 10px;
}

