FlexLayout {
    width: initial;
    height: initial;
    background-color: #FF8DC63F;
}

.lblWelcome {
    color: #FFFFFFFF;
    font-style: bold;
    font-size: 40;
    text-align: center;
}

.lblMessage {
    margin-left: 37;
    margin-right: 37;
    color: #FFFFFFFF;
    font-style: initial;
    text-align: center;
    font-size: 17;
}

.lblFooter {
    color: #FFFFFFFF;
    font-style: initial;
    font-size: 12;
    text-align: center;
}