stackLayout {
    width: initial;
    height: initial;
    background-color: #FF8DC63F;
}

.lblWelcome {
    margin-top: 10;
    color: #FFFFFFFF;
    font-style: bold;
    font-size: 40;
    font-family: OpenSans;
    text-align: center;
}

.lblMessage {
    margin-top: 67;
    margin-left: 37;
    margin-right: 37;
    color: #FFFFFFFF;
    font-style: initial;
    text-align: center;
    font-size: 17;
}

.lblFooter {
    margin-top: 100;
    color: #FFFFFFFF;
    font-style: initial;
    font-size: medium;
    text-align: center;
}