<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Auditorias ciudadanas</title>

    <!-- Bootstrap Core CSS -->

    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />
   <!-- Custom CSS -->
    <link href="../../Content/logo-nav.css" rel="stylesheet" />
    <link href="../../Content/screenView.css" rel="stylesheet" />


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="inside">
	<div class="container-fluid">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        	<div class="container">
        
        	<div class="col-sm-6">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Desplegar</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="img/logo.png" alt="Auditorias ciudadanas"/>
                </a>
                <!-- SEARCH PROJECTS -->
                <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar Proyectos...">
                  <span class="input-group-btn">
                    <button class="btn btn-info" type="button"><span class="glyphicon glyphicon-search"></span></button>
                  </span>
                  
                </div>
            </div>
            </div>
            <div class="col-sm-6">
            	<div class="LogIn"><a href="" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span>Inicie Sesión</a><br/>
                    <a href="nuevoUsuarioTCP.html" target="_self">¿Nuevo usuario? Ingrese Aquí</a></div>
               
            </div>
            </div>
            <div class="row">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            	<div class="container">
                <ul class="nav navbar-nav">
                     <li>
                        <a href="index.html">Inicio</a>
                    </li>
                    <li>
                        <a href="profileProject.html">Proyectos</a>
                    </li>
                    <li class="active">
                        <a href="projectInfo.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Información<span class="glyphicon glyphicon-menu-down"></span></a>
                         <ul class="dropdown-menu">
                          <li><a href="">Guías y manuales</a></li>
                          <li><a href="">Enlaces de interés</a></li>
                          <li><a href="">Videos Instructivos</a></li>
                          <li><a href="">Capacitaciones</a></li>
                         </ul>
                    </li>
                    <li>
                        <a href="espacioVirtual.html">Espacio virtual</a>
                    </li>
                    
                </ul>
                </div>
            </div>

            </div>
            <!-- /.navbar-collapse -->
        
    </nav>
	</div>
        <!-- /.container -->
  
    <!-- Page Content -->
    <div class="container">
    	<h1>Nuevo Usuario</h1>
        
        <div class="center-block w60">
        <div class="formSteps">
        	<div class="step currentStep"><span class="glyphicon glyphicon-edit"></span>Paso 1</div>
            <div class="step"><span class="glyphicon glyphicon-question-sign"></span>Paso 2</div>
            <div class="step"><span class="glyphicon glyphicon-user"></span>Paso 3</div>
            <div class="step"><span class="glyphicon glyphicon-equalizer"></span>Paso 4</div>
            <div class="step"><span class="glyphicon glyphicon-blackboard"></span>Paso 5</div>			
        </div>
        <form>
        	<div class="form-group">
                <label for="exampleInputEmail1">Nombre Completo</label>
                <input type="text" class="form-control" id="nameComplete" >
                
             </div>
        	<div class="form-group">
                <label for="exampleInputEmail1">Correo Electrónico</label>
                <input type="email" class="form-control" id="exampleInputEmail1">
             </div>
             <div class="form-group">
                <label for="mobile">Numero de teléfono</label>
                <input type="tel" class="form-control" id="mobile">
             </div>
            <div class="row">
            	<div class="col-sm-6">
                	<div class="form-group">
                        <label for="departamento">Departamento</label>
                        <select class="form-control" id="departamento">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </div>
                 </div>
                <div class="col-sm-6">
                	<div class="form-group">
                        <label for="municipio">Municipio</label>
                        <select class="form-control" id="municipio">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </div>
                 </div>
            </div>
        	<div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input">
                  <a href="">ACEPTAR TÉRMINOS Y CONDICIONES</a>
                </label>
              </div>
              <div class="botonera">
              <div class="btn btn-default"><a href="">VOLVER AL PROYECTO</a></div>
              <div class="btn btn-primary fr"><a href="nuevoUsuarioTCP_p2.html">Siguiente <span class="glyphicon glyphicon-chevron-right"></span></a></div>
             
             </div>
        </form>
        </div>
    </div>
    <!-- /.container -->
	<!-- FOOTER -->
	<footer>
    <div class="container-fluid">
    	Todos los derechos Reservados
    
    </div>
    </footer>
    <!-- Modal 1 -->
<div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Titulo Video</h4>
      </div>
      <div class="modal-body">
       <img src="img/thumbVideo.jpg" alt="..."/>
      </div>
     
    </div>
  </div>
</div>

    <!-- jQuery -->

    <script src="../../Scripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->

    <script src="../../Scripts/bootstrap.min.js"></script>

</body>

</html>
